
<% provide(:title, "Forgot Password") %>

<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <h1 class="logo-name">RST</h1>
    </div>
    <p>
      Enter your email address to receive the link to reset your password
    </p>
    <%= form_for(:session, url: signup_path) do |f| %>
  
        <div class="form-group">
          <%= f.email_field :email, class: 'form-control', placeholder: "Email" %>
        </div>

        <%= f.submit "Submit", class: "btn btn-primary block full-width m-b" %>

        <a class="btn btn-sm btn-white btn-block" href="<%= url_for :controller => 'sessions', :action => 'login' %>">Log In</a>
    <% end %>
    <p class="m-t"> <small>Inspinia we app framework base &copy; </small> </p>
</div>